/*Custom properties*/
:root{
    --border: 1px solid black;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*WEB APP CONTAINER*/
.web-app{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*WRAPPER*/
.wrapper{
    width: 80%;
    margin: auto;
    /*debug*/
    border: var(--border);
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* LEFT COLUMN */
.left-col{
    width: 35%;
    /*debug*/
    border: var(--border);
    background-color: white;
    height: 100%;
}

/* LEFT MAIN */
.main.left{
    width: 100%;
    height: calc(100% - 4rem);
}

/* NOTIFICATIONS */
.notifications{
    width: 100%;
    height: 4rem;
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.notifications .text-container{
    width: calc(100% - 50px);
}

/*CONTACTS LIST*/
.contacts-list{
    overflow-y: auto;
    /* debug */
    border: var(--border);
    border-color: red;
    height: calc(100% - 6rem);
}

/* CONTACTS */
.contact{
    width: 100%;
    /* debug */
    border: var(--border);
    height: calc(100% / 7);
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.contact .text-container:not(.hour){
    width: calc(100% - 100px);
}

.text-container.hour{
    width: 50px;
}

/* RIGHT COLUMN */
.right-col{
    width: 65%;
    /*debug*/
    border: var(--border);
    background-color: black;
    height: 100%;
}