/*Custom properties*/
:root{
    --border: 1px solid black;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*WEB APP CONTAINER*/
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*app*/
.app{
    width: 80%;
    margin: auto;
    /*debug*/
    
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* LEFT COLUMN */
.left-col{
    width: 35%;
    /*debug*/
    
    background-color: white;
    height: 100%;
}

/* LEFT HEADER */
.header.left{
    border-right: 1px gray solid;
}

/* LEFT MAIN */
.main.left{
    width: 100%;
    height: calc(100% - 4rem);
}

/* NOTIFICATIONS */
.notifications{
    width: 100%;
    height: 4rem;
    background-color: aqua;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.notifications .text-container{
    width: calc(100% - 50px);
}

.notifications .text-container p{
    text-decoration: underline;
}

.notifications .icon-container{
    width: 50px;
    height: 50px;
    background-color: white;
    color: aqua;
    font-size: 24px;
}

/*LEFT FORM*/
.left.form input{
    height: 30px;
}

.left.form .icon-container{
    border-radius: 0;
    background-color: white;
}

/*CONTACTS LIST*/
.contacts-list{
    overflow-y: auto;
    /* debug */
    height: calc(100% - 8rem);
}

/* CONTACTS */
.contact{
    width: 100%;
    /* debug */
    height: calc(100% / 7);
    min-height: 100px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
}

.contact:hover{
    background-color: lightgray;
}

.contact .text-container:not(.hour){
    width: calc(100% - 100px);
}

.text-container.hour{
    width: 50px;
}

/* RIGHT COLUMN */
.right-col{
    width: 65%;
    /*debug*/
    
    background-color: black;
    height: 100%;
}

/*RIGHT MAIN*/
.main.right{
    background-image: url(/img/mine.jpg);
    background-size: contain;
    height: calc(100% - 8rem);
}

/* CHAT */
.chat{
    width: 100%;
    margin: auto;
    padding: 1.5rem 2rem;
    /* debug */
    height: 100%;
}

/* MESSAGES */
.message-container{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.message{
    width: 300px;
    border-radius: 12px;
    /* debug */
    height: 100px;
    background-color: white;
}

/* GREEN MESSAGE */
.message-container.green{
   justify-content: flex-end;
}

.message-container.green .message{
    background-color: green;
 }

 /* MESSAGE HOVER */
 .hover-box{
    width: 100px;
    /* debug */
    height: 50px;
    background-color: white;
    border: var(--border);
    position: relative;
    top: 1.5rem;
    left: 12rem;
    display: none;
 }

 .message-container:hover .hover-box{
    display: inline-block;
 }

/*RIGHT FOOTER*/
.footer{
    height: 4rem;
}

/*RIGHT FORM*/
.form.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    gap: 1rem;
    padding: 1rem;
    /* debug */
    height: 4rem;
}

.form.right input{
    border-radius: 5px;
}