/*Custom properties*/
:root{
    --border: 1px solid black;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*WEB APP CONTAINER*/
.web-app{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*WRAPPER*/
.wrapper{
    width: 80%;
    margin: auto;
    /*debug*/
    border: var(--border);
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* LEFT COLUMN */
.left-col{
    width: 30%;
    /*debug*/
    border: var(--border);
    background-color: white;
    height: 100%;
}

/* RIGHT COLUMN */
.right-col{
    width: 70%;
    /*debug*/
    border: var(--border);
    background-color: black;
    height: 100%;
}

/* HEADER */
.header{
    width: 100%;
    /*debug*/
    background-color: lightgray;
    height: 10%;
}

.nav{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*debug*/
    height: 100%;
}

/* IMAGE CONTAINER */
.img-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    /*debug*/
    background-color: red;
}

/* FLEX LIST */
.flex-ul{
   list-style-type: none;
   display: flex;
   gap: 0.5rem
}

/* DEBUG: ICON CONTAINER */
.icon-container{
    width: 25px;
    height: 25px;
    border-radius: 50%;

    /*debug*/
    background-color: blue;
}

.text-container{
    justify-self: flex-start;
    border: var(--border);
}